/********************************************************First page*****************************************************************/

body
{
	background-color: skyblue;
}



header
{
	
	margin-bottom: 3em;
}

section
{
	background-color: green;
}




p
{
	background-color : white;
}















footer
{
	background-color: silver;
}
